<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataRepDruidDataSource" />
	</bean>


	<!-- writer sqlSessionFactory -->
	<bean id="sqlSessionFactoryTo" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dtcDruidDataSource" />
		<property name="mapperLocations"
				  value="classpath*:mapper/*.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryTo"/>
		<property name="basePackage" value="com.hcw.core.batch.dao" />
	</bean>

</beans>
